NEXT_PUBLIC_SUPABASE_URL="https://nfecqqkntemowylebbeh.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5mZWNxcWtudGVtb3d5bGViYmVoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg0MDA5MDYsImV4cCI6MjA5Mzk3NjkwNn0.2xvqFjW-R5NmG5yh9PaURi4hpBUJ8Kr8HIVl5BAIZk4"
NEXT_PUBLIC_API_URL="http://localhost:8000"
